#bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100% !important;
    border-bottom: 1px solid gray;
    /*to make clickable*/
    padding: 6px;
}

#progress {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    border: 1px solid tomato;
    width: var(--progress);
    transition: linear .2s;
}

@media(min-width:600px) {

    #bar,
    #progress {
        border-width: 2px;
    }
}