.chat-head{
    text-align: center;
    font-weight: 600;
    background-color: rgb(233, 229, 229);
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    width: 100%;
}
.chat-day{
    text-align: center;
}
.chat-day span{
    background-color: burlywood;
    padding: 5px;
    border-radius: 10px;
}
.msg{
    padding: 0 5px;
    border-radius: 5px;
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
}
.msg-content{
    max-width: 70vw;
    border-radius: 10px;
    border-top-left-radius: 0;
    padding: 5px;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
}
.msg-content span{
    width: 100%;
    word-wrap: break-word;
}
sub{
    width: 100%;
    text-align: right;
    color: gray;
}
.myMsg{
    justify-content: flex-end;
}
.myMsg .msg-content{
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
    background-color: lightgreen;
}
.triangle{
    display: inline-block;
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-bottom: 8px solid transparent;
}
.triangle-left {
	border-right: 16px solid lightblue;
}
.triangle-right {
	border-left: 16px solid lightgreen;
}
.msg .time{
    font-size: 12px;
    margin-left: 10px;
}
.newMsgSend{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:rgb(233, 229, 229);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.newMsgSend input{
    width: 70vw;
    height: 40px;
    padding: 10px;
}