.auth-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}
.auth{
    padding: 30px 0;
    max-width: 400px;
}
.auth h1{
    font-family: cursive;
}
.auth a{
    color: #0095F6;
}
.auth-form .TC{
    color: #8E8E8E;
    margin: 10px 0;
}
.auth-form .TC a{
    color: inherit;
    font-weight: 600;
}
#login .forgot{
    color: #00377B;
}
#signSee{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    color: #8E8E8E;
}
.auth-form {
    width: 100%;
    padding: 20px;
}
.auth-form input{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    padding-left: 15px;
    background-color: var(--bgLightColor);
    border: 1px gray solid;
    border-radius: 8px;
    color: var(--textColor);
}
.auth-form input:focus{
    outline: none;
    border: 1px solid var(--textColor); 
    background-color: transparent;
}
.auth-form input::placeholder{
    color: var(--textColor);
    opacity: 0.8;
}
.auth-form button{
    width: 100%;
    padding: 8px;
    background-color: #0095F6;
    outline: none;
    border: none;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: Helvetica;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid transparent;
}