#bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    padding: 6px; /*to make clickable*/
    width: 100% !important;
    border-bottom: 1px solid gray;
}

#progress {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    border: 1px solid tomato;
    width: var(--progress);
    transition: linear .3s;
}

@media(min-width:600px) {
    #bar {
        border: 2px solid gray;
    }

    #progress {
        border: 2px solid red;
    }
}