#User-content{
    width: 100%;
}
.user-meta{
    padding: 10px;
}
.user-meta-1{
    display: grid;
    grid-template-columns: 40% 60%;
    /* background-color: aqua; */
    align-items: center;
}
.user-meta-1 .userimg img{
    border: 1px solid black;
    padding: 3px;
    border-radius: 50%;
}
.user-meta-1 .network{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.user-meta-1 .network-count{
    font-weight: 600;
}
.user-meta-2 .edit-discover{
    width: 100%;
    display: grid;
    grid-template-columns: 65% 35%;
    margin: 4px 0;
}
.user-meta-2 .edit-discover button{
    background-color: #EFEFEF;
    padding: 8px 0;
    outline: none;
    border: 1px solid gainsboro;
    /* border: none; */
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.user-meta-2 .edit-discover .edit{
    margin-right: 10px;
}
#User-content .discover-people{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.user-posts-tags{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2px;
}
.user-posts-tags button{
    background-color: var(--bgColor);
    color: var(--textColor);
    padding: 8px 0;
    font-weight: 600;
    outline: none;
    border: none;
    transition: .5s ease-out;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}
.user-posts-tags button> *{
    margin: 0 6px;
}
.user-posts-tags button img{
    width: 26px;
    height: 26px;
}
.user-posts-tags .btn-active{
    border-bottom: 1px solid var(--textColor);
    opacity: 1;
}
.user-posts-tags .btn-not-active{
    border-bottom: 1px solid gray;
    opacity: 0.4;
}

/* UserMore Start */
#user-more-overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    
    display: flex;
    justify-content: center;
}
#user-more-list{
    min-width: 300px;
    padding: 10px 20px;
    background-color: var(--bgColor);
    border: 1px solid gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    display: flex;
    flex-direction: column;
    
    transition: all .6s;
    animation: bottomup .6s;
    animation-direction: alternate;
    
    position: fixed;
}
.ani{
    bottom: 0;
}
.ani-r{
    bottom: -100%;
}
@keyframes bottomup {
    from{bottom:-100%;opacity: 0;}
    to{bottom:0;opacity: 0.8;}
}
#user-more-list a,
#user-more-list div{
    margin: 10px;
    list-style: none;
    
    display: grid;
    grid-template-columns: 35px auto;
    align-items: center;
}
#user-more-list a:active,
#user-more-list div:active{
    opacity: 0.5;
}
.more-icons{
    width: 25px;
    height: 25px;
}
.more-icons-l{
    transform: scale(1.25);
}
#user-more-close{
    display: flex;
    justify-content: center;
}
#user-more-close div{
    margin: 0;
    background-color: gray;
    width: 50px;
    height: 4px;
    border-radius: 5px;
}
/* UserMore Ends */