.follows-list-head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #8E8E8E;
    background-color: var(--bgColor);
}
.follows-list-head .username{
    font-weight: 600;
}