.follows-list-head{
    background-color: var(--bgColor);
    border-bottom: 1px solid #8E8E8E;
    width: 100%;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.follows-list-head .username{
    font-weight: 600;
}