.UserImgNameFollow{
    display: flex;
    align-items: center;
}
.UserImgNameFollow > *{
    margin-right: 10px;
}
.UserImgNameFollow img{
    display: block;
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.UserImgNameFollow .follow-unfollow{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
}
.UserImgNameFollow .follow-active{
    color: var(--minBlue) !important;
}